body {
  background-color: black;
  color:white;
}




/* PARA EJERCICIO HTML5 */
.marco-foto {
  height: 250px;
  width: 250px;
  border: 1px solid white;
}

.photo{
	color: blue;
}

#foto1,
#foto2,
#foto3,
#foto4,
#foto5,
#foto6{
	width: 300px;
	height: 300px;
}