body {
  background-color: black;
  color:white;
  padding:5% 3%;
}




/* PARA EJERCICIO HTML5 */
.marco-foto {
  height: 400px;
  width: 400px;
  border: 1px solid white;
}

.photo{
	color: blue;
}

#foto1,
#foto2,
#foto3,
#foto4,
#foto5,
#foto6{
	width: 400px;
	height: 400px;
}

h4{
	font-family: 'Leckerli One', cursive;
	font-size: 60px;
	padding-bottom: 30px;
}

.phototitulo{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	padding-bottom: 20px;
	color: #1975A7;
}

.menu{
  padding: 14px 70px;
 
}

.link{
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	padding-right: 200px;

}